* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body {
    background-color: rgb(223, 197, 248);
}

main {
    background-color: white;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(122, 108, 135, 0.458);
}

header {
    text-align: center;
}

header > h1 {
    font-size: 1.3em;
}

p {
    text-indent: 10px;
}
